# Robot Framework test outputs
log.html
output.xml
report.html
selenium-screenshot*.png
*screenshot*.png
pabot_results/

# Browser binaries
chrome.exe
chromedriver.exe
geckodriver.exe
*.exe

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.egg-info/
.dmypy.json
dmypy.json
.pytype/
cython_debug/
.ruff_cache/
.pypirc

# IDE
.idea/
*.iml
.vscode/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Pyre type checker
.pyre/